$red-color:#EC4851;
$gray-color:#171A21;
$white-color:#FFFFFF;
$title-color: #373E4C;
$text-color: #888E92;

$xxl: 30px;
$xl: 28px;
$l : 24px;
$m: 21px;
$s: 18px;
$xs:12px;

$Mont: 'Montserrat', sans-serif;
$Pop: 'Poppins', sans-serif;


*,*::before , *::after {
	font-family: $Mont;
	box-sizing: border-box;
}

