ul,
menu,
dir {
  padding-inline-start: 0px !important;
}


.leftArrow,
.rightArrow {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 99;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 auto;


  @include rwd(448px) {
    margin: 11.9em 5.5em 0em 0em;
    height: 40px;
    width: 40px;

  }

  @include rwd(414px) {
    margin: 11.9em 6.1em 0em 0em;
    height: 40px;
    width: 40px;

  }

  @include rwd(375px) {
    margin: 11.9em 7.2em 0em 0em;
    height: 40px;
    width: 40px;

  }

  @include rwd(360px) {
    margin: 11.9em 7.6em 0em 0em;
    height: 40px;
    width: 40px;

  }

  @include rwd(320px) {
    margin: 11.9em 8.8em 0em 0em;
    height: 40px;
    width: 40px;

  }

}

.arrowL,
.arrowR {
  bottom: 0 !important;
  top: 87%;
}

.arrowL {
  @include rwd(2500px) {
    left: 60% !important;
  }

  @include rwd(1367px) {
    left: 65% !important;
  }

  @include rwd(1199px) {
    left: 60% !important;
  }

  @include rwd(888px) {
    left: 65% !important;
  }


  @include rwd(600px) {
    margin: 27px -12px 0em 0.9em;
    height: 40px;
    width: 40px;
  }

  @include rwd(400px) {
    margin: 11px -12px 0em -0.1em;

  }

  @include rwd(320px) {
    margin: 10px -12px 0em -0.6em;

  }

}

.arrowR {
  @include rwd(2500px) {
    right: 15% !important;
  }

  @include rwd(1367px) {
    right: 7% !important;
  }

  @include rwd(1199px) {
    right: 21% !important;
  }

  @include rwd(888px) {
    right: 7% !important;
  }

  @include rwd(600px) {
    margin: 28px -5px 3em -2.1em;
    height: 40px;
    width: 40px;
  }

  @include rwd(400px) {
    margin: 0.7em 0em 1em 1em;

  }

  @include rwd(320px) {
    margin: 0.6em 0em 1em 1em;

  }

}

.leftArrow {
  background-color: #CFD0D1;
  left: 0;
}

.rightArrow {
  background-color: #EC4851;
  right: 0;
}

.inicio-clases {
  position: absolute;
  bottom: 14em;
  z-index: 12;
  background: $red-color;
  width: 266px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include rwd(600px) {
    bottom: 9.4em;
    left: 9.5px;
    width: 206px;
  }

  p {
    color: $white-color;
    font-size: $xs;
    line-height: 25px;
    font-weight: 600;
  }
}

.introduccion-texto {
  height: 43%;
}



.fullPage-inversion {
  background-color: #f7f6f5;
  height: 100vh;

  @include rwd(1199px) {
    height: auto;
    padding: 0 0 2em 0;
  }
}

.full-inversion {
  @include rwd(599px) {
    height: auto;
    padding: 12em 0 5em 0;
  }
}

.listaInversion {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  justify-content: center;

  @include rwd(458px) {
    height: inherit;
  }

  &-titulo {
    height: 144px;
    font-size: $xl;
    color: $title-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Pop;
    line-height: 38px;
  }

  &-precio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &-cuotas {
    display: flex;
    flex-wrap: wrap;
    width: 74%;
    justify-content: space-around;

    @include rwd(512px) {
      width: 100%;
    }
  }

  &-contenedor {
    width: 117.69px;
    height: 56.24px;
    margin-bottom: 1em;
  }

  &-contenido {
    display: flex;
    justify-content: center;
  }

  &-borde {
    border: 2px solid #cfd0d1;
    font-size: 12px;
    width: 117.69px;
    height: 56.24px;

    .precio {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: $title-color;
      line-height: 21px;
    }
  }
}

.lista {
  &-precio {
    font-weight: 600;
    line-height: 35px;

    p {
      font-size: 60px;
      color: $red-color;
      letter-spacing: 0.5px;
      padding: 0.5px 0.8em 11.5px 0;

      @include rwd(587px) {
        letter-spacing: inherit;
        font-size: 50px;
        padding: 6.5px 0.8em 12.5px 0;
      }
    }

    label {
      font-size: 20px;
    }
  }

  &Antes {
    padding: 1em;

    p {
      font-size: 15px;
      line-height: 29px;
    }
  }

  &-cuota {
    display: flex;
    justify-content: center;

    p {
      height: 42px;
      color: $text-color;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  &-contado {
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: center;

    @include rwd(1199px) {
      height: 70px;
    }

    p {
      color: $text-color;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }

  &-descuento {
    position: relative;
  }

  &-descuentoPorcentaje {
    background-color: $title-color;
    color: $white-color;
    font-weight: 600;
    text-align: center;
    line-height: 15px;
    -webkit-border-radius: 80px;
    height: 67px;
    width: 67px;
    position: absolute;
    top: 14px;
    left: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include rwd(587px) {
      height: 63.31px;
      width: 63.31px;
      left: 82px;
    }

    p {
      font-size: 19px;

      @include rwd(587px) {
        font-size: 17px;
      }
    }

    label {
      font-size: $xs;
      font-size: 11px;
    }
  }

  &-detalles {
    font-size: $xs;
    color: $text-color;

    p {
      display: flex;
      justify-content: center;

      @include rwd(428px) {
        margin-bottom: 37px;
      }

      @include rwd(1199px) {
        padding: 2em 0 0 0;
      }

      @include rwd(447px) {
        padding: inherit;
      }
    }
  }

  &-detallestwo {
    p {
      justify-content: flex-start;
      display: flex;

      @include rwd(586px) {
        line-height: 18px;
      }
    }
  }

  &Contenedor {
    display: flex;
    justify-content: center;
    width: 78%;
    text-align: center;

    p {
      color: $text-color;
      line-height: 21px;
    }
  }
}

.lista-separacion {
  display: flex;
  flex-direction: column;
  height: 176px;
  justify-content: space-around;
  align-items: center;
}

/* PLAN DE ESTUDIOS */


.contenedorPlanEstudios {
  @include rwd(2500px) {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include rwd(1366px) {
    height: calc(100vh - 80px);
  }

  @include rwd(600px) {
    height: auto;
  }


  .contenedorTitulo {
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-h1 {
      font-size: $xxl;
      color: $title-color;
    }
  }

  .sliderSlick {
    width: 577px;
  }

  .contenedorSliderPlan {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    @include rwd(653px) {
      width: 89%;

    }


    @include rwd(414px) {
      width: calc(100% - 2rem * 0.9);

    }






    .sliderPlan {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .itemSlider {
        background-color: $white-color;
        width: 497px;
        height: 441px;
        padding: 0px 12%;
        display: flex;
        align-items: center;

        @include rwd(600px) {
          height: 461px;
          padding: 0px 6%;
        }

        span {
          font-size: $xs;
          color: $title-color;
          line-height: 31px;
        }

        h2 {
          color: $title-color;
          font-size: $m;
          font-weight: bold;
          line-height: 31px;
          height: 68px;
          display: flex;
          align-items: center;
        }

        li {
          font-size: $xs;
          color: $text-color;
          list-style: none;
          line-height: 24px;
          padding: 0 0 0.7em;
        }
      }
    }
  }
}


.itemModulo {
  display: flex;
  flex-direction: column;
  justify-content: center;


  @include rwd (581px) {
    padding: 0em 2em 0em 2em;

  }

  @include rwd (435px) {
    padding: 2em 8em 2em 9em;
    font-size: 11px;
  }


}


.itemLeft,
.itemRight {
  @include rwd(2500px) {
    width: 65px;
    height: 441px;
    background-color: $white-color;
    position: absolute;
  }


  @include rwd(1367px) {
    width: 42px;
    height: 441px;
  }
}

.itemLeft {
  left: 0;
}

.itemRight {
  right: 0;

}

.formOpen {
  display: none;
  height: 85px;
  background: #EC4851;
  position: fixed;
  width: 50%;
  color: white;
  font-size: 14px;

  @include rwd(1199px) {
    width: 100%;
  }

  p {
    padding: 0 1em 0 1em;
  }
}

.formOpen-tipo {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}



[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;

}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";

}

.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 475px;
  background-color: #CB202A;
  background-color: #CB202A;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;

  @include rwd(468px) {
    width: 105%;

  }
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 5%;

  @include rwd(468px) {
    left: 10%;
  }
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -15px;
  margin-bottom: -12px;
  border-top-color: #CB202A;

  @include rwd(486px) {
    margin-left: -23px;
  }
}

[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -40px;
  height: 51px;
}